/* Main structure */

.background {
  background-color: white;
}

.site {
  background-color: red;
  margin: 0;
  padding: 0;
  height: 100%;
  weight:  100%;
}

main {
  background-color: white;
  width: auto;
  height: 50%;
  border: solid 1px black;
  display: inline-block;
}


/* Header */

.jumbotron{
background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg) ;
background-size: cover;
color: white;
}

#jumbotron_text,
 .jumbotron {
  color: white;
}

/* Navigation */

.nav_bar {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

li {
  display: inline;
}

/* Main body*/

.first_section {
  float: left;
  width: 60%;
}

.second_section {
  display: inline-block;
}

img {
  width: 30%;
  height: 20%;
  float: right;
  margin-right: 5%;
}


/* Projects */

.projects {
  border: solid 1px black;
  display: inline-block;
  background-color: #ff6666;
}

.project1
 {
  display: inline-block;
  width: 33%;
  float: left;
  border: solid 1px black;
  margin: 1% 8%;
  text-align: center;
}

/* Footer */

.footer {

}
