
#title  {
    font-size: 400%;
}

.link {
  color:white;
}
/* Main structure */

.background {
  background-image: radial-gradient(circle, #92a8d1, #deeaee);
}

.site {
  background-color: red;
  margin: 0;
  padding: 0;
  height: 100%;
  weight:  100%;
}

/* main { */
  /* background-color: white;
  width: auto;
  height: 50%;
  border: solid 1px black;
  display: inline-block;
} */


/* Header */

.jumbotron{
background-image: url(images/bg4.jpeg) ;
background-size: cover;
color: white;
}



/* Navigation */

.nav_bar {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

/* li {
  display: inline;
} */

/* Main body*/

/* .first_section {
  float: left;
  width: 60%;
} */

.second_section {
  display: inline-block;
}

/* .pic {
  width: 30%;
  height: 20%;
  float: right;
  margin-right: 5%;
} */


/* Projects */

.projects {
  border: solid 1px black;
  display: inline-block;
  background-color: #ff6666;
}

.project1
 {
  display: inline-block;
  width: 33%;
  float: left;
  border: solid 1px black;
  margin: 1% 8%;
  text-align: center;
}

/* Footer */

.footer {

}

/* links */

a.links {
  color: white;
}
